body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: #300018;
  padding-top: 20px;
}

header {
  background-color: #300018;
  padding-bottom: 15px;
}

.jumbotron {
  padding-bottom: 30px;
  margin-bottom: 0px;
}

.modal-header, .jumbotron{
  /*background-color: #837B47;*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a4b357+0,75890c+100;Olive+3D+%233 */
background: rgb(164,179,87); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-9 */

  color: white;
}

#contactus p{
  text-align: justify;
}

.input-group, textarea{
  margin-bottom: 5px;
}
