main {
  background-color: white;
}

p {
  line-height: 150%;
}

p a , h4 a, h2 a, td a{
  color: #837B47;  
}

p a:hover , h4 a:hover, h2 a:hover, td a:hover{
  color: #300018;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.justify {
  text-align: justify;
}

/* TEXT VIEW STYLES */

#text_content {
  margin: 0px auto 0px auto;
  padding-left: 2%;
  padding-right: 2%;
  text-align: justify;
}

#text_content h4 {
  margin-bottom: 25px;
}

#text_content .row{
  margin-bottom: 15px;
}

.show_hide  {
  background-color: #ADB85F;
  border: solid 1px #837B47;
  font-weight: bold;
  margin: 2px 2px 0px 0px;
  padding: 2px;
  color: #300018;
  width: 100%;
  max-width: 100px;
}


/* TABLE VIEW STYLES */

#browse_content h1, #browse_content p{
  text-align: left;
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 20px;
}

#content_table {
  font-size: 0.9em;
  border-collapse: collapse;
  border: 2px solid #300018;
}

#content_table th {
  background: rgb(164,179,87); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(164,179,87,1) 0%,rgba(117,137,12,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-9 */

  border: 1px solid #300018;
  padding: 2px 5px 2px 5px;
}

#content_table td {
  border: 1px solid #300018;
  padding: 4px 5px 4px 5px;
}

.odd_row {
  background-color: #E5EDB8;
}

#content_table .bold a, #content_table .bold a:visited {
  color: #837B47;
}

#content_table .bold a:hover, #content_table .bold a:active {
  color: #300018;
}

#content_table a, #content_table a:visited, #JSmol_buttons a, #JSmol_buttons a:visited, a, a:visited{
  color: #300018;
}

#content_table a:hover, #content_table a:active, #JSmol_buttons a:hover, #JSmol_buttons a:active, a:hover, a:active {
  color: #837B47;
}


/* ENTRY VIEW STYLES */

#entry_content h2 {
  margin-bottom: 15px;
}

#entry_content table td {
  padding-right: 10px;
}

.jsmolbutton {
  background-color: #ADB85F;
  border: solid 1px #837B47;
  font-weight: bold;
  margin: 0px 5px 5px 0px;
  font-size: 1.1em;
}

.ERROR{
  font-weight: bold;
  color: #800000;
}

.SUCCESS{
  font-weight: bold;
  color: #006600;
}

.expset_div {
  border: 1px black solid;
  padding: 10px;
  text-align: justify;
  margin-bottom: 25px;
  margin-right: 25px;
}

.expset_div button {
  float: right;
}

#JSmol_buttons {
  padding-top: 50px;
}

.legend {
  height: 50px;
  padding: 2px;
}

.expset_div button:nth-child(2) {
  margin-bottom: 10px;
}

.early_bg {
  background-color: #663300;
}

.early {
  color: #663300;
}

.intermediate_bg {
  background-color: #663366;
}

.intermediate {
  color: #663366;
}

.late_bg {
  background-color: #003366;
}

.late {
  color: #003366;
}

.strong_bg {
  background-color: red;
}

.strong {
  color: red;
}

.medium_bg {
  background-color: #FF9933;
}

.medium {
  color: #FF9933;
}

.weak_bg {
  background-color: #009933;
}

.weak {
  color: #009933;
}

#pdbe_static_image img {
  max-width: 200px;
}

#jsmol_text {
  padding-top: 40px;
}

.white {
  color: white;
}

.center {
  text-align: center;
}