{% if not num_of_entries %}
  <div id="content" class="row">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb">
        {% if user_guide %}
          <li><a href="{% url 'start2fold:index' %}">Home</a></li>
          <li class="active">Help</li>
        {% elif list_view %}
          <li><a href="{% url 'start2fold:index' %}">Home</a></li>
          <li class="active">Browse</li>
        {% elif search_view %}
          <li><a href="{% url 'start2fold:index' %}">Home</a></li>
          <li class="active">Search</li>
        {% elif entry_view %}
          <li><a href="{% url 'start2fold:index' %}">Home</a></li>
          <li class="active">Entry</li>
        {% elif jsmol_view %}
          <li><a href="{% url 'start2fold:index' %}">Home</a></li>
          <li><a href="{% url 'start2fold:entry' entry_id=entry.entry_id %}">Entry</a></li>
          <li class="active">JSmol</li>
        {% endif %}
        </ol>
      </div>
    </div>
{% endif %}