{% load staticfiles %}
{% load extra_filters %}
{% include "start2fold/header.html" %}
<main class="container">
  <div id="entry_content">      
    <h1>Entry {{ entry.entry_id }}</h1>
    <h2>{{ entry.mol_sys_name_ref }}</h2>
    <p class="bold">
      <a href="{% url 'start2fold:xml_entry' entry_id=entry.entry_id %}">
        <span class="glyphicon glyphicon-download"></span>&nbsp;DOWNLOAD ENTRY IN XML
      </a>
    </p>
    <div class="row">
      <div class="col-md-6">         
        {% for protein in protein_set %}
        <h2>Protein information</h2>
        <table>
          <tr>
            <td>
              <span class="bold">Name of the protein:</span>
            </td>
            <td>
              {{ protein.protein_name }}
            </td>
          </tr>
          <tr>
            <td>
              <span class="bold">Organism:</span>
            </td>
            <td>
              {{ species }}
            </td>
          </tr>
          <tr>
            <td>
              <span class="bold">Number of residues:</span>
            </td>
            <td>
              {{ protein.num_of_residues }}
            </td>
          </tr>
          <tr>
            <td>
              <span class="bold">Related UniProt entry:</span>
            </td>
            <td>
              <a class="bold" href="http://www.uniprot.org/uniprot/{{ protein.uniprot_code }}">
                <span class="glyphicon glyphicon-link"></span>&nbsp;
                {{ protein.uniprot_code }}
              </a> (Fragment: {{ protein.uniprot_seq_start}} - {{ protein.uniprot_seq_end }})
            </td>
          </tr>
          <tr>
            <td>
              <span class="bold">Related PDB entry:</span>
            </td>
            <td>
              <a class="bold" href="http://www.ebi.ac.uk/pdbe/entry/pdb/{{protein.pdb_code}}">
              <span class="glyphicon glyphicon-link"></span>&nbsp;
              {{ protein.pdb_code|upper }}
              </a>
            </td>
          </tr>
        </table>          
        {% endfor %}
      </div>

      <h2>Visualize the data</h2>
      <div class="row col-md-5">
        <div class="col-sm-6" id="jsmol_text">
          <p class="justify"><a href="{% url 'start2fold:jsmol' entry_id=entry.entry_id %}" class="bold"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Click here</a> or on the image on the right to visualize the residues using JSmol. <em>Warning: </em> JSmol is known to load slowly on certain browsers, depending on the size of the macromolecule. The applet is optimized for Chrome, other browsers have limited support.</p>
        </div>
        <div class="col-sm-6" id="pdbe_static_image">
          {% for protein in protein_set %}
          <a href="{% url 'start2fold:jsmol' entry_id=entry.entry_id %}" class="bold">
            <img src="http://www.ebi.ac.uk/pdbe/static/entry/{{protein.pdb_code}}_deposited_chain_front_image-800x800.png">
          </a>
          {% endfor %}
        </div>
      </div>
    </div>

    <h2>Experiment sets</h2>
    <div id="exp_sets">
      <script type="text/javascript">var exp_set_counter = 0;</script>
      {% for exp in exp_set %}
      <script type="text/javascript">
        if(exp_set_counter % 2 == 0){
          var exp_sets_container = document.getElementById("exp_sets");
          var exp_set_row = document.createElement("div");
          exp_set_row.setAttribute("class", "row");
          exp_sets_container.appendChild(exp_set_row);
        }
      </script>
      <div id="expset" class="expset_div col-md-5">
        <span class="show_hide" id="show_{{exp.exp_id}}">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Show
        </span>
        <span class="show_hide" id="hide_{{exp.exp_id}}">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>&nbsp;Hide
        </span>
        <script>
          $( "#hide_{{exp.exp_id}}" ).click(function(){
            $( "#expset_div_{{exp.exp_id}}" ).hide("slide", {}, 1000)
          });
          $( "#show_{{exp.exp_id}}" ).click(function(){
            $( "#expset_div_{{exp.exp_id}}" ).show("slide", {}, 1000)
          });
        </script>
        {% if exp.exp_type_ref.exp_type == "folding" %}
        <script type="text/javascript">var exptype = "Folding";</script>
        {% elif exp.exp_type_ref.exp_type == "stability" %}
        <script type="text/javascript">var exptype = "Stability";</script>
        {% endif %}
        {% if exp.is_high_resolution == 1 %}
        <script type="text/javascript">var resolution = "residue";</script>
        {% elif exp.is_high_resolution == 0 %}
        <script type="text/javascript">var resolution = "segment";</script>
        {% endif %}
        <h3 id="exp_set_text">
          {% if exp.prot_lvl_ref.prot_lvl == "EARLY" %}
          <span class="early">
          {% elif exp.prot_lvl_ref.prot_lvl == "INTERMEDIATE" %}
          <span class="intermediate">
          {% elif exp.prot_lvl_ref.prot_lvl == "LATE" %}
          <span class="late">
          {% elif exp.prot_lvl_ref.prot_lvl == "STRONG" %}
          <span class="strong">
          {% elif exp.prot_lvl_ref.prot_lvl == "MEDIUM" %}
          <span class="medium">
          {% elif exp.prot_lvl_ref.prot_lvl == "WEAK" %}
          <span class="weak">
          {% endif %}
            {{ exp.prot_lvl_ref.prot_lvl|upper }} 
          </span>
        </h3>
        <script type="text/javascript">
          var exp_set_text = document.getElementById("exp_set_text");
          exp_set_text.innerHTML += exptype + " at " + resolution + " resolution";
          exp_set_text.setAttribute("id", "exp_set_text_added");
        </script>
        <div id="expset_div_{{exp.exp_id}}">
          <p>
            <span class="bold">Method:</span> {{ exp.exp_method_ref.exp_method }}
          </p>
          <p>
            <span class="bold">Conditions:</span> pH
            {% if exp.pH_min == exp.pH_max %}
            {{ exp.pH_min }};
            {% else %}
            {{ exp.pH_min }}-{{ exp.pH_max }}; 
            {% endif %} 
            {{ exp.temp }} Celsius; 
            Probes: {{ exp.num_of_probes }}
            {% if exp.condition_note %} 
            ; {{ exp.condition_note }}
            {% endif %}
          </p>
          <p>
            <span class="bold">Related publication:</span> {{ references|get_item:exp.exp_id }};
            <br>
            <span class="bold">
              <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ exp.pubmed_id }}" target="_blank">
                <span class="glyphicon glyphicon-link"></span>&nbsp;PMID {{exp.pubmed_id}}
              </a>
            </span>
          </p>
          <p>
            <span class="bold">Experiment details:</span> "{{ exp.exp_note }}"
          </p>
          <p>
            <span class="bold">Protection threshold:</span> {{ exp.prot_threshold }}
          </p>
          <p style=" word-wrap: break-word">
            <span class="bold">Sequence:</span> 
            {% if not exp.is_pdb %}
            <br>
            <span class="ERROR">WARNING! The experimental sequence is different from that of the PDB structure!</span>
            {% endif %}
            <span id="sequence_to_color">{{ exp.actual_sequence }}</span>
            <br>
            <a class="bold" href="{% url 'start2fold:fasta' entry_id=exp.uniprot_code_ref.entry_id_ref %}">
              <span class="glyphicon glyphicon-download"></span>&nbsp;CLICK TO DOWNLOAD SEQUENCE IN FASTA
            </a>
          </p>
          <div class="residues">
            <h2 class="{{ exp.prot_lvl_ref.prot_lvl|lower }}">
              {{ exp.prot_lvl_ref.prot_lvl }} residues
            </h2>
            <p>
              <script type="text/javascript">
                var residue_list = [];
                var sequence_list = [];
              </script>
              {% for resi in resi_set%}
              {% if resi.exp_id_ref.exp_id == exp.exp_id %}
              {{ resi.residue_code }}: {{ resi.aa_code_ref.aa_code }}; 
              <script type="text/javascript">
                residue_list.push({{resi.residue_code}});
              </script>
              {% endif %}
              {% endfor %}
              <script type="text/javascript">
              sequence_container = document.getElementById("sequence_to_color");
              var current_sequence_string = sequence_container.innerHTML;
              sequence_container.setAttribute("id", "colored_sequence");
              var sequence_string = "";
              for(var i = 0; i < current_sequence_string.length; i++){
                var found_it = false;
                for(var x = 0; x < residue_list.length; x++){
                  if(i == residue_list[x] - 1){
                    sequence_string += "<span class='bold white {{exp.prot_lvl_ref.prot_lvl|lower}}_bg'>"+current_sequence_string[i]+"</span>";
                    var found_it = true;
                    break;
                  }
                }
                if(!found_it){
                    sequence_string += current_sequence_string[i];
                }
              }
              sequence_container.innerHTML = sequence_string;
              </script>
              <br>
              <a class="bold" href="{% url 'start2fold:residues' entry_id=exp.uniprot_code_ref.entry_id_ref %}">
                <span class="glyphicon glyphicon-download"></span>&nbsp;CLICK TO DOWNLOAD LIST OF RESIDUES
              </a>
            </p>
          </div> <!-- closing "residues" -->
        </div> <!-- closing "expset_div" with IDs -->
      </div> <!-- closing "expset_div" class -->
      <script type="text/javascript">
        var exp_to_add = document.getElementById("expset");
        exp_set_row.appendChild(exp_to_add);
        exp_to_add.setAttribute("id", "expset_added");
        exp_set_counter++;
      </script>
      {% endfor %}  
    </div> <!-- closing exp_sets -->
  </div> <!-- closing entry_content -->
</main>
{% include "start2fold/footer.html" %}