<!doctype html>
{% load staticfiles %}

<html>
<head>

<title>Start2Fold</title>
<meta name="author" content="Mihaly Varadi">
<meta name="description" content="Folding and stability database">
<meta name="keywords" content="stability, folding">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static '/static/start2fold/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/static/start2fold/css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/static/start2fold/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static '/static/start2fold/css/style.css' %}">
<link rel="stylesheet" href="{% static '/static/start2fold/css/header.css' %}">
<link rel="stylesheet" href="{% static '/static/start2fold/css/footer.css' %}">
<script src="{% static '/static/start2fold/js/jsmol/JSmol.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static '/static/start2fold/js/jquery-ui.js' %}"></script>
<script src="{% static '/static/start2fold/js/bootstrap.min.js' %}"></script>

<script>
$(function() {
    $( "#hide_contact" ).click(function() {hide_con();});
  function hide_con() {$( "#contact_body" ).hide( "slide", {}, 1000);};
    $( "#show_contact" ).click(function() {show_con();});
  function show_con() {$( "#contact_body" ).show( "slide", {}, 1000);};
});
</script>

</head>
<body>

<header>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'start2fold:index' %}">Start2Fold</a>
      </div> <!-- navbar-header closed -->
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {% if num_of_entries %}
          <li class="active">
          {% else %}
          <li>
          {% endif %}
            <a href="{% url 'start2fold:index' %}">
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home
            </a>
          </li>
          {% if search_view or list_view %}
          <li class="active dropdown">
          {% else %}
          <li class="dropdown">
          {% endif %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'start2fold:browse' browse_by='ids' %}">Entries</a></li>
              <li><a href="{% url 'start2fold:browse' browse_by='proteins' %}">Proteins</a></li>
              <li><a href="{% url 'start2fold:browse' browse_by='residues' %}">Residue sets</a></li>
            </ul>
          </li>
          {% if not num_of_entries and text_view %}
          <li class="active">
          {% else %}
          <li>
          {% endif %}
            <a href="{% url 'start2fold:guide' %}">
              <span class="glyphicon glyphicon-info-sign"></span>&nbsp;Help
            </a>
          </li>
          <li><a data-toggle="modal" data-target="#contactus">
            <span class="glyphicon glyphicon-envelope"></span> Contact us</a>
          </li>
          <form class="navbar-form navbar-right" role="search" action="{% url 'start2fold:search' %}" method="post">
          {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" value="" name="search" data-toggle="tooltip" data-placement="bottom" title="Search by protein names, UniProt/PDB IDs, experiment types/methods or protection levels">
            </div>
            <button type="submit" class="btn btn-default" value="search">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Go!
            </button>             
          </form>
        </ul>
      </div> <!-- navbar closed -->
    </div> <!-- container closed -->
  </nav>

  <div id="contactus" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Contact the Start2Fold crew</h4>
        </div>
        <div class="modal-body">
        <form action="{% url 'start2fold:send_message' %}" method="post" class="form-horizontal">
        {% csrf_token %}
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <h4>Feel free to contact us!</h4>
              <p>If you have any questions or suggestions regarding the database, the content or the submission procedure, please contact us by sending a message here</p>
            </div>
            <div class="col-xs-12 col-sm-7">
              <div class="col-xs-12">
                <div class="input-group">
                  <input type="text" name="contact_name" value="" placeholder="Your name" required class="form-control" />
                  <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                </div>
                <div class="input-group">
                  <input type="email" name="contact_email" value="" placeholder="Your email" required class="form-control" />
                  <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                </div>
              </div>
              <div class="col-xs-12">
                <textarea rows=5 name="contact_message" onfocus="this.value=''; this.onfocus='';" class="form-control" placeholder="Your message..." required></textarea>
              </div>
            </div>
            <div class="col-xs-12">
              <input type="submit" value="Send" class="form-control btn btn-default">
            </div>
          </div>
        </form>  
        </div>
      </div>
    </div>
  </div>

</header>

<script type="text/javascript">
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

<div class="jumbotron">
  <div class="container">
    <div class="row row-header">
      <div class="col-xs-12 col-sm-8">
        <h1>Start2Fold</h1>
        <p>The database of hydrogen/deuterium exchange data on protein folding and stability</p>
      </div>
    </div>
  </div>
</div>