{% load staticfiles %}
{% load extra_filters %}
{% include "start2fold/header.html" %}
<main class="container">
	<div class="row">
    	<div class="col-md-12">
      	<h1 class="center">JSmol view</h1>
      	<p class="bold center"><a href="{% url 'start2fold:entry' entry_id=entry.entry_id %}"><span class="glyphicon glyphicon-link"></span>&nbsp;Back to entry</a></p>
    	</div>	
	</div>

	<div class="row">
    	<div class="col-md-5 col-md-offset-2">
    		{% for protein in protein_set %}
    		<script type="text/javascript">
    		var PDBID = '{{ protein.pdb_code }}'
	    	var Info = {
    			color: "#FFFFFF",  // white background (note this changes legacy default which was black)
      			height: 400,      // pixels (but it may be in percent)
    			width: 400,
    			use: "HTML5",         // "HTML5" or "Java" (case-insensitive)
    			j2sPath: "{% static '/static/start2fold/js/jsmol/j2s' %}",           // only used in the HTML5 modality
    			defaultModel: "",
    			script: null,
    			src: null,
    			readyFunction: null,
    			addSelectionOptions: false,
    			debug: false
				};
			Jmol.getApplet("stf", Info)
    		Jmol.script(stf, "load =" + PDBID + "; cartoon; wireframe off; spacefill off; background [xFFFFFF]; color [xEDEDED]; spin on")
    		</script>
    	</div>
    	<div id="JSmol_buttons" class="col-md-5">
      		<script>
    	    Jmol.setButtonCss("jsmolbutton");
    	    Jmol.jmolButton(stf, "select all; color [xEDEDED]; spacefill off;", "RESET view")
        	</script>  
        	<br> 
    		<table>
    			{% for exp in exp_set%}
    			<tr>
            		<td>
        			{% if exp.is_high_resolution == 1 %}
	        			<script type="text/javascript">var resolution = "residues"</script>
    	    			{% elif exp.is_high_resolution == 0 %}
        				<script type="text/javascript">var resolution = "segments"</script>
        				{% endif %}
	          			{% if exp.prot_lvl_ref.prot_lvl == "EARLY" %}
    	        		<span class="legend early_bg">_</span>
        	    		<script type="text/javascript">var color = "[x663300]"</script>
            			{% elif exp.prot_lvl_ref.prot_lvl == "INTERMEDIATE" %}
              			<span class="legend intermediate_bg">_</span>
              			<script type="text/javascript">var color = "[x663366]"</script>
	              		{% elif exp.prot_lvl_ref.prot_lvl == "LATE" %}
    	          		<span class="legend late_bg">_</span>
        	      		<script type="text/javascript">var color = "[x003366]"</script>
            	  		{% elif exp.prot_lvl_ref.prot_lvl == "STRONG" %}
                		<span class="legend strong_bg">_</span>
                		<script type="text/javascript">var color = "[xFF0000]"</script>
	                	{% elif exp.prot_lvl_ref.prot_lvl == "MEDIUM" %}
    	         		<span class="legend medium_bg" >_</span>
        	     		<script type="text/javascript">var color = "[xFF9933]"</script>
            	 		{% elif exp.prot_lvl_ref.prot_lvl == "WEAK" %}
              			<span class="legend weak_bg">_</span>
              			<script type="text/javascript">var color = "[x009933]"</script>
	              		{% endif %}
    	      			<script>
        	        	Jmol.setButtonCss("jsmolbutton");
            	    	Jmol.jmolButton(stf,
                	              		"select ({{exp.pdb_offset_list}}); color " + color + "; spacefill on; spin off;", 
                    	          		"View {{exp.prot_lvl_ref.prot_lvl}} " + resolution)
              			</script> 
        			</td>
        			<td>
                		<span class="bold">
                			<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ exp.pubmed_id }}" target="_blank">
                				<span class="glyphicon glyphicon-link"></span>&nbsp;PMID {{exp.pubmed_id}}
                			</a>
                		</span>
            		</td>
      			</tr> 
      			{% endfor %}
      		</table>
      		<p><em>Warning:</em> JSmol is known to load slowly on certain browsers, depending on the size of the macromolecule. This third party applet is optimized for Chrome, other browsers have limited support.</p>
    	</div>
    	{% endfor %}		
	</div>
</main>
{% include "start2fold/footer.html" %}