{% load staticfiles %}
{% load extra_filters %}
{% include "start2fold/header.html" %}

<main class="container">
	{% if search_view %}
	<h1>SEARCH RESULTS</h1>
    <p>Search term: <span class="bold">{{ term }}</span></p>
    <div id="browse_content" class="row">
    	<table id="content_table">
        	<tr>
        		<th>Protein name</th>
        		<th>Entry ID</th>
        		<th>Experimental method</th>
    			<th>Type</th>
        		<th>Folding/Stability</th>
        		<th>High resolution</th>
        	</tr>
        	{% for item in query_set %}
        	<tr>
        		<td>{{ item.uniprot_code_ref.protein_name }}</td>
        		<td>
        			<a class="bold" href="{% url 'start2fold:entry' entry_id=item.uniprot_code_ref.entry_id_ref_id %}">
        			{{ item.uniprot_code_ref.entry_id_ref_id }}
        			</a>
        		</td>
            	<td>{{ item.exp_method_ref_id }}</td>
            	<td>{{ item.exp_type_ref_id }}</td>
            	<td>{{ item.prot_lvl_ref.prot_lvl }}</td>
            	<td>{{ item.is_high_resolution }}</td>
        	</tr>
        	{% endfor %}
    	</table>
    </div>

    {% elif browse_view %}
    <div id="browse_content" class="col-md-12">
    <h1>{{ message }}</h1>
    <table id="content_table" class="table-striped table-hover table-responsive">
          {% if by_protein %}
            <tr>
              <th><a href="{% url 'start2fold:browse' browse_by='proteins' %}">Name in UniProt</a></th>
              <th><a href="{% url 'start2fold:browse' browse_by='proteins_id' %}">Entry ID</a></th>
              <th><a href="{% url 'start2fold:browse' browse_by='proteins_uni' %}">UniProt ID</a></th>
        <th><a href="{% url 'start2fold:browse' browse_by='proteins_pdb' %}">PDB code</a></th>
              <th><a href="{% url 'start2fold:browse' browse_by='proteins_length' %}">Number of residues</a></th>
              <th>Fragment (UniProt residues)</th>
              <th><a href="{% url 'start2fold:browse' browse_by='proteins_ss' %}">Secondary structure</a></th>
            </tr>
            {% for item in query_set %}
              <tr>
                <td>{{ item.protein_name }}</td>
                <td class="bold">
                  <a href="{% url 'start2fold:entry' entry_id=item.entry_id_ref_id %}">
                  {{ item.entry_id_ref_id }}</a></td>
                <td><a href="http://www.uniprot.org/uniprot/{{item.uniprot_code}}" target="_blank">
                {{ item.uniprot_code }}</a></td>
                <td class="upper">
                  <a href="http://www.ebi.ac.uk/pdbe/entry/pdb/{{item.pdb_code}}" target="_blank">
                  {{ item.pdb_code }}</a></td>
                <td>{{ item.num_of_residues }}</td>
                <td>{{ item.uniprot_seq_start }}-{{ item.uniprot_seq_end }}</td>
                {% if item.sec_str_type_ref.sec_str_type == "a+b" %}
                  <td>Alpha + Beta</td>
                {% elif item.sec_str_type_ref.sec_str_type == "All-a" %}
                  <td>Alpha</td>
                {% elif item.sec_str_type_ref.sec_str_type == "All-b" %}
                  <td>Beta</td>
                {% elif item.sec_str_type_ref.sec_str_type == "b+a" %}
                  <td>Beta + Alpha</td>
                {% endif %}
              </tr>
            {% endfor %}

          {% elif by_ids %}
            <tr>
              <th><a href="{% url 'start2fold:browse' browse_by='ids' %}">Entry ID</a></th>
              <th><a href="{% url 'start2fold:browse' browse_by='ids_molsys' %}">Molecular system</a></th>
            </tr>
            {% for item in query_set %}
              <tr>
                <td class="bold">
                  <a href="{% url 'start2fold:entry' entry_id=item.entry_id %}">
                  {{ item.entry_id }}</a></td>
                <td>{{ item.mol_sys_name_ref }}</td>
              </tr>
            {% endfor %}

          {% elif by_resi %}
            <tr>
              <th><a href="{% url 'start2fold:browse' browse_by='residues_prot' %}">Protection Level</a></th>
              <th>Molecular system</th>
              <th><a href="{% url 'start2fold:browse' browse_by='residues' %}">Entry ID</a></th>
              <th><a href="{% url 'start2fold:browse' browse_by='residues_type' %}">Type</a></th>
              <th><a href="{% url 'start2fold:browse' browse_by='residues_method' %}">Experimental method</a></th>
              <th><a href="{% url 'start2fold:browse' browse_by='residues_ref' %}">Reference</a></th>
            </tr>
            {% for item in query_set %}
              <tr>
                <td>{{ item.prot_lvl_ref.prot_lvl }}</td>
                <td>{{ item.uniprot_code_ref.entry_id_ref.mol_sys_name_ref }}</td>
                <td class="bold">
                  <a href="{% url 'start2fold:entry' entry_id=item.uniprot_code_ref.entry_id_ref %}">
                  {{ item.uniprot_code_ref.entry_id_ref }}</a></td>
                <td>{{ item.exp_type_ref }}</td>
                <td>{{ item.exp_method_ref }}</td>
                <td><a href="http://www.ncbi.nlm.nih.gov/pubmed/{{item.pubmed_id}}" target="_blank">PMID {{ item.pubmed_id }}</td>
              </tr>
            {% endfor %}
          {% endif %}
    </table>
    </div> <!-- closing "browse_content" -->

{% endif %}
</main>
{% include "start2fold/footer.html" %}